<html>
    <body>
        <h1>Cyber Security</h1>
        <form action="/" method="post">
            <p>Staff aware of do not open email unless you read evey character of sender's email address (0 to 1)</p>
            <p><input type = "number" step ="0.01" name="email"></p>
            <p>Staff aware of Only enter data  in public wifi if the website is https (0 to 1)</p> 
            <p><input type = "number" step  = "0.01" name="web"></p>
            <p><input type = "submit" value="Enter"></p>     
        </form>
        <p>The prediction of Cyber Attack is {{result}}</p>
    </body>
</html>